<fieldset>
  <p><%=l(:dym_settings_search_method)%></p>
  <p>
    <label><%= l(:dym_select_searching_method)%></label>
    <%= select_tag 'settings[search_method]', options_for_select({
                l(:dym_sql) => "0",
                l(:dym_thinking_sphinx) => "1"
                }, @settings['search_method'])
    %>
    <em class="info" id="sql_info"><%= l(:dym_search_by_sql_info)%></em>
    <em class="info" id="ts_info">
      <%= l(:dym_thinking_sphinx_info)%><br />
      <%= l(:dym_search_by_ts_info)%><br />
      <%= l(:dym_search_difference)%>
    </em>
  </p>
  <hr />
  <p><%= l(:dym_settings) %></p>
  <p>
    <label><%= l(:dym_show_only_open_label)%></label>
    <%= select_tag 'settings[show_only_open]', options_for_select({
                l(:dym_only_open) => "1",
                l(:dym_all_statuses) => "0"
                }, @settings['show_only_open'])
    %>
  </p>
  <p>
    <label><%= l(:dym_project_filter_label)%></label>
    <%= select_tag 'settings[project_filter]', options_for_select({
                l(:dym_just_current) => "0",
                l(:dym_current_and_children) => "1",
                l(:dym_any_project) => "2",
                l(:dym_parent) => "3",
                }, @settings['project_filter'])
    %>
  </p>
  <p>
    <label><%= l(:dym_min_word_length_label)%></label>
    <%= text_field_tag('settings[min_word_length]',
                       @settings['min_word_length'],
                       :type => 'number')
    %>
  </p>
  <p>
    <label><%= l(:dym_limit) %></label>
    <%= val = @settings[:limit]
        val = 5 if @settings[:limit].nil? or @settings[:limit].empty?
        text_field_tag("settings[limit]", val) %>
  </p>
  <p>
    <label><%= l(:dym_start_search_when_label)%></label>
    <%= select_tag 'settings[start_search_when]', options_for_select({
                l(:dym_leaving_field) => "0",
                l(:dym_while_typing) => "1"
                }, @settings['start_search_when'])
    %>
  </p>
</fieldset>
<script type='text/javascript'>
  $(function(){
  if($('#settings_search_method').val() == "0") {
    $('#ts_info').hide();
    $('#sql_info').show();
  }else{
    $('#sql_info').hide();
    $('#ts_info').show();
  }
  $('#settings_search_method').change(function() {
    if($('#settings_search_method').val() == "0") {
      $('#ts_info').hide();
      $('#sql_info').show();
    }else{
      $('#sql_info').hide();
      $('#ts_info').show();
    }
  });
});
</script>